.faq {
    background-color: black;
    color: white;
}

.faq h2 {
    text-align: center;
    padding: 16px;
    padding-top: 32px;
    margin: 16px;
}

.faq .benefits {
    width: 100%;
    min-height: 20vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.faq .item {
    width: 33.33333%;
    text-align: center;
}

.faq .item h3 {
    font-size: 24px;
    margin: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline-block;
}

.faq .item p {
    margin: 16px;
    margin-top: 4px;
    margin-bottom: 24px;
    display: inline-block;
    font-size: 14px;
}

.benefits .img {
    margin-top: 8px;
    margin-bottom: 4px;
}

@media only screen and (max-width: 600px) {
    .faq .item {
        width: 100%;
        float: left;
    }
    .benefits .img {
        margin-top: 16px;
    }
}