.faq {
    width: 100%;
    padding-top: 0px;
}

.faq h2 {
    text-align: center;
    font-size: 32px;
    padding: 16px;
    padding-top: 0px;
    margin: 16px;
    margin-top: 0;
}

.faq .benefits {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.faq .item {
    width: 33%;
    text-align: center;
}

.faq .item h3 {
    font-size: 24px;
    margin: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline-block;
}

.faq .item p {
    margin: 16px;
    margin-top: 4px;
    margin-bottom: 24px;
    display: inline-block;
    font-size: 14px;
}

.benefits .img {
    margin-top: 8px;
    margin-bottom: 4px;
}

@media only screen and (max-width: 600px) {
    .faq .item {
        width: 100%;
        float: left;
    }
    .benefits .img {
        margin-top: 16px;
    }
}