@font-face {
    font-family: 'Aileron';
    src: url('./fonts/Aileron.otf') format('opentype');
    font-weight: 500;
  }
  
@font-face {
  font-family: 'Aileron';
  src: url('./fonts/Aileron-Light.otf') format('opentype');
  font-weight: 400;
}
  
@font-face {
  font-family: 'Aileron';
  src: url('./fonts/Aileron-Black.otf') format('opentype');
  font-weight: 900;
}
  
@font-face {
  font-family: 'Aileron';
  src: url('./fonts/Aileron-Bold.otf') format('opentype');
  font-weight: 700;
}
  
@font-face {
    font-family: 'Aileron';
  src: url('./fonts/Aileron-SemiBold.otf') format('opentype');
  font-weight: 600;
}
  
@font-face {
  font-family: 'Aileron';
    src: url('./fonts/Aileron-Heavy.otf') format('opentype');
  font-weight: 800;
}

.hero .blur {
  backdrop-filter: blur(2px); display: inline-block; border-radius: 10px; padding: 4px;
}

body {
    font-family: 'Aileron';
    overflow: hidden;
    margin: 0px;
}

nav {
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 10;
  overflow: hidden;
}

.hero {
  min-height: 75vh;
  text-align: center;
}

.herobg {
  position: relative;
}

.herobg .ig3d {
  position: absolute;
  width: 25%;
  top: 11em;
  left: 1%;
}

.herobg .tt3d {
  position: absolute;
  width: 25%;
  top: 12em;
  left: 22%;
}

.herobg .ldn3d {
  position: absolute;
  width: 28%;
  top: 11.3rem;
  right: 20%;
}


.herobg .spotify3d {
  position: absolute;
  width: 23%;
  top: 12.8rem;
  right: 2rem;
}

.hero .main {
  position: relative;
  margin: 20px 50px;
  text-align: center;
}

.hero strong {
  position: relative;
  width: auto;
  backdrop-filter: blur(5px);
}

h1 {
  font-size: 64px;
  position: relative;
  margin: 16px;
  line-height: 1.0625;
  font-weight: 600;
  letter-spacing: -0.009em;
}

.hero h3 {
  font-size: 18px;
  font-weight: 500;
  margin-left: calc(10% + 15px);
  width: 80%;
}

.gradient-text {
  font-weight: 900;
  background: #fff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-image: linear-gradient(90deg,#0093E9 20%,#80D0C7  80%);
}


.login {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: black;
  padding: 24px;
  letter-spacing: 1.1px;
}

.logotext {
  margin-left: 0px;
  font-weight: 600;
  font-size: 20px;
  padding-left: 0px;
}

.signup {
    background: linear-gradient(102deg, rgb(0, 153, 255) 0%, rgb(204, 0, 255) 100%);
    text-decoration: none;
    width: 100px;
    height: 25px;
    text-align: center;
    padding: 10px 24px;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1.3px;
    color: white;
    border-radius: 12px;
}

.smalllogo {
  margin: 16px;
  margin-right: 8px;
  width: 40px;
}

.leftmenu {
  margin-left: 50px;
  float: left;
  display: flex;
  justify-content: space-between;
}

.rightmenu {
  margin-right: 50px;
  float: right;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.center {
  display: flex;
  justify-content: center;
}

main {
    position: relative;
}

footer {
  display: flex;
  justify-items: center;
  justify-content: center;
  flex-flow: column wrap;
  background-color: black;
}

.footer {
  text-align: center;
}

footer br {
  background-color: black;
}

.footer p, .footer a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  font-weight: 400;
}

@media only screen and (max-width: 800px) {
  .leftmenu .logotext {
    display: none;
  }
  .leftmenu {
    margin-left: 2px;
  }
  .rightmenu {
    margin-right: 2px;
  }
  .signup {
    width: 50px;
    font-size: 16px;
  }
  .smallogo {
    padding: 8px;
  }
  .login {
    padding: 12px;
    margin-top: 8px;
  }
  .hero .main {
    padding: 5px 12.5px;
  }
  h1 {
    margin: 8px;
    font-size: 48px;
  }
}

@media only screen and (max-width: 500px) {
  .herobg .ig3d {
    width: 33%;
    top: 8em;
    left: -0.8rem;
  }
  .herobg .tt3d {
    display: none;
  }
  .herobg .ldn3d {
    display: none;
  }
  .herobg .spotify3d {
    width: 30%;
    top: 8.8em;
    right: -0.6rem;
  }
  .hero .blur {
    backdrop-filter: none; display: inline-block; border-radius: 10px; padding: 4px;
  }
}

@media only screen and (min-width: 501px) and (max-width: 1000px) {
  .herobg .ig3d {
    width: 43%;
    top: 10em;
    left: 1%;
  }
  .herobg .tt3d {
    display: none;
  }
  .herobg .ldn3d {
    display: none;
  }
  .herobg .spotify3d {
    width: 40%;
    top: 11.8rem;
    right: 2rem;
  }

}