@font-face {
    font-family: 'Aileron';
    src: url('./fonts/Aileron.otf') format('opentype');
    font-weight: 500;
  }
  
@font-face {
  font-family: 'Aileron';
  src: url('./fonts/Aileron-Light.otf') format('opentype');
  font-weight: 400;
}
  
@font-face {
  font-family: 'Aileron';
  src: url('./fonts/Aileron-Black.otf') format('opentype');
  font-weight: 900;
}
  
@font-face {
  font-family: 'Aileron';
  src: url('./fonts/Aileron-Bold.otf') format('opentype');
  font-weight: 700;
}
  
@font-face {
    font-family: 'Aileron';
  src: url('./fonts/Aileron-SemiBold.otf') format('opentype');
  font-weight: 600;
}
  
@font-face {
  font-family: 'Aileron';
    src: url('./fonts/Aileron-Heavy.otf') format('opentype');
  font-weight: 800;
}

body {
    font-family: 'Aileron';
    margin: 0px;
}

footer a {
  margin: 10px;
  text-decoration: none;
  color: white;
}

nav {
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 10;
  overflow: hidden;
}

.hero {
  min-height: 20vh;
  text-align: center;
}

.hero .main {
  margin: 20px 50px;
  text-align: center;
}

h1 {
  font-size: 64px;
  margin: 16px;
  line-height: 1.0625;
  font-weight: 600;
  letter-spacing: -0.009em;
}

.hero h3 {
  font-size: 18px;
  font-weight: 500;
  margin-left: calc(10% + 15px);
  width: 80%;
}

.gradient-text {
  font-weight: 900;
  background: #fff;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-image: linear-gradient(90deg,#0093E9 20%,#80D0C7  80%);
}


.login {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: black;
  padding: 24px;
  letter-spacing: 1.1px;
}

.logotext {
  margin-left: 0px;
  font-weight: 600;
  font-size: 20px;
  padding-left: 0px;
}

.signup {
    background: linear-gradient(102deg, rgb(0, 153, 255) 0%, rgb(204, 0, 255) 100%);
    text-decoration: none;
    width: 100px;
    height: 25px;
    text-align: center;
    padding: 10px 24px;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1.3px;
    color: white;
    border-radius: 12px;
}

.smalllogo {
  margin: 16px;
  margin-right: 8px;
  width: 40px;
}

.leftmenu {
  margin-left: 50px;
  float: left;
  display: flex;
  justify-content: space-between;
}

.rightmenu {
  margin-right: 50px;
  float: right;
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.center {
  display: flex;
  justify-content: center;
}

.logoslider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.logoslider::before,
.logoslider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.logoslider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.logoslider::before {
  left: 0;
  top: 0;
}

.logoslider .logoslide-track {
  -webkit-animation: scroll 26s linear infinite;
  animation: scroll 26s linear infinite;
  -moz-animation: scroll 26s linear infinite;
  -o-animation: scroll 26s linear infinite;
  display: flex;
  width: calc(250px * 6);
}

.logoslider .logoslide {
  height: 100px;
  width: 250px;
}

main {
    position: relative;
}

footer {
  display: flex;
  justify-content: center;
  background-color: black;
}

footer p {
  color: white;
  font-size: 18px;
  font-weight: 400;
}

@-webkit-keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(calc(-250px * 6));
  }
}

@-o-keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(calc(-250px * 6));
  }
}

@-moz-keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(calc(-250px * 6));
  }
}

@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(calc(-250px * 6));
  }
}

@media only screen and (max-width: 800px) {
  .leftmenu .logotext {
    display: none;
  }
  .leftmenu {
    margin-left: 2px;
  }
  .rightmenu {
    margin-right: 2px;
  }
  .signup {
    width: 50px;
    font-size: 16px;
  }
  .smallogo {
    padding: 8px;
  }
  .login {
    padding: 12px;
    margin-top: 8px;
  }
  .hero .main {
    padding: 5px 12.5px;
  }
  h1 {
    margin: 8px;
    font-size: 48px;
  }
}